<title>PTC | Accueil</title>

<div user-pop></div>
<div ride-pop-special></div>
<div ride-pop></div>
<div notif></div>
<div dialog></div>

<section class="{{ pop.display }} {{ upop.display }} {{ special.display }} {{ dialog.display }}">

  <div my-nav></div>

  <div class="main-wrapper">

  <!-- notifications + basics infos -->
  <div class="home">
    <div class="well bloc bloc-s">
      <h4>NOTIFICATIONS</h4>
      <p ng-show="notifications == 0">Pas de Notifications</p>

        <div class="alert alert-dismissible alert-success" ng-repeat="notif in notifications" ng-class="notif.class">
          <button type="button" class="readNotif(notif)" data-dismiss="alert">&times;</button>
          <strong ng-bind="notif.title"></strong> <p ng-bind="notif.text"></p>
        </div>

    </div>
    <div class="well bloc bloc-l">
      <h4 class="text-success"><b ng-bind="current.lastname | uppercase"></b> <b ng-bind="current.firstname"></b></h4>
      <table class="table">
        <tr>
          <td>
            <p>Anniversaire : <b ng-bind="current.birthdate | date:'dd MMMM yyyy'"></b> (<b ng-bind="current.birthdate | age:'current.birthdate'"></b> ans)</p>
          </td>
          <td>
            <p>Bureau : <b ng-bind="current.site.name"></b></p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Mail : <b ng-bind="current.mailAdress"></b></p>
          </td>
          <td>
            <p ng-init="phone = (current.phoneNumber == null) ? 'Non renseigné' : current.phoneNumber">Téléphone : <b ng-bind="phone"></b></p>
          </td>
        </tr>
      </table>
      <blockquote>
        <em ng-bind="(current.description == null) ? 'Pas de description' : current.description"></em>
      </blockquote>
      <i class="fa fa-thumbs-up fa-2x text-success" ng-bind="current.positiveRating"></i>&nbsp;&nbsp;&nbsp;
      <i class="fa fa-thumbs-down fa-2x text-danger" ng-bind="current.negativeRating"></i>
    </div>
  </div>

  <div class="home">
    <div class="well bloc bloc-x">
      <h4>ACTIONS</h4>
      <a href="#/proposal" class="btn" ng-class="(car != null && car.isVehicleOK == 1) ? 'btn-success' : 'btn-default disabled'">Proposer un Trajet</a>
      <a href="#/edit" class="btn btn-primary">Modifier mes Infos</a>
      <a href="#/edit" class="btn btn-primary">Modifier ma Voiture</a>
    </div>
  </div>

  <div class="home">
    <div class="well bloc bloc-l">
      <h4>MON PROCHAIN TRAJET</h4>
      <p class="text-primary" ng-show="next == 0">Aucun trajet à venir !</p>
      <div ng-hide="next == 0">
        <br/>
        <br/>
        <div class="panel panel-default content" ng-class="(next.drive == true) ? 'panel-success' : 'panel-primary'">
          <div class="panel-heading">
            <h4 class="panel-title" ng-bind="(next.drive == true) ? 'Conducteur' : 'Passager'"></h4>
          </div>
          <div class="panel-body">
            <b ng-bind="ride.ad_message"></b>
            <table class="table-inbox">
              <tr>
                <td class="cell-s">
                  <i class="fa fa-users fa-2x text-primary"></i>
                  <p ng-bind="next.passengers.length"></p>
                </td>
                <td>
                  <p>
                    <b ng-bind="(next.departure_city != null) ? next.departure_city : next.departure.name"></b>
                    <i class="fa fa-arrow-right fa-1x"></i>
                    <b ng-bind="(next.arrival_city != null) ? next.arrival_city : next.arrival.name"></b>
                  </p>
                  <p>Le <b ng-bind="next.departure_date | date:'dd MMMM yyyy'"></b>, à <b ng-bind="next.departure_time"></b></p>
                </td>
                <td>
                  <a href="" class="btn btn-primary disabled" ng-show="next.remain == 0">Complet</a>
                </td>
              </tr>
            </table>
        </div>
      </div>

      </div>
    </div>

    <div class="well bloc bloc-s">
      <h4>MA VOITURE</h4>
      <p ng-show="car == 0" class="text-success">Vous n'avez pas renseigner de voiture.
        Pour proposer un trajet, il faut renseigné un véhicule, et attendre sa validation par la Gestion.</p>
      <p class="text-warning" ng-show="car.isVehicleOK == 0 && car != 0">Ce véhicule n'a pas encore été validé!</p>
      <p class="text-success" ng-show="car.isVehicleOK == 1 && car != 0">Ce véhicule a été validé !</p>
      <div ng-show="car != 0">
        <p>Marque : <b ng-bind="car.brand"></b></p>
        <p>Modele : <b ng-bind="car.model"></b></p>
        <p>Immatriculation: <b ng-bind="car.registrationNumber"></b></p>
        <p>Capacité : <b ng-bind="car.placesNumber"></b></p>
      </div>
    </div>
  </div>


  <div class="home">
    <div class="well bloc bloc-m">
      <h4>MES TRAJETS À VENIR : CONDUCTEUR</h4>

      <p ng-show="d_comming == 0">Vous ne proposez aucun trajet dans les jours à venir.</p>

      <div class="panel panel-success in-container" ng-repeat="ride in d_comming">
        <div class="panel-heading">
          <p>
            <b ng-bind="(ride.departure_city != null) ? ride.departure_city : ride.departure.name"></b>
            <i class="fa fa-arrow-right fa-1x"></i>
            <b ng-bind="(ride.arrival_city != null) ? ride.arrival_city : ride.arrival.name"></b>
          </p>
        </div>
        <div class="panel-body">
          <table class="table-inbox">
            <tr>
              <td class="cell-s">
                <i class="fa fa-users fa-2x text-primary"></i>
                <p ng-bind="ride.passengers.length"></p>
              </td>
              <td>
                <p>Le <b ng-bind="ride.departure_date | date:'dd MMMM yyyy'"></b> à <b ng-bind="ride.departure_time"></b></p>
                <p>Il reste <b ng-bind="ride.remain"></b> places disponibles.</p>
              </td>
              <td>
                <a href="#asks" class="btn" ng-class="(ride.requests.length == 0) ? 'btn-default' : 'btn-danger'" ng-bind="ride.requests.length"></a>
              </td>
            </tr>
          </table>
        </div>
        <div class="panel-footer">
          <a href="" ng-click="ridePopSpecial(ride)">Détails <i class="fa fa-chevron-right"></i></a>
        </div>
      </div>

    </div>

    <div class="well bloc bloc-m">
      <h4>MES TRAJETS À VENIR : PASSAGER</h4>
      <p ng-show="p_comming == 0">Vous ne participez à aucun trajet dans les jours à venir.</p>

      <div class="panel panel-primary in-container" ng-repeat="ride in p_comming">
        <div class="panel-heading">
          <p ng-bind="ride.ad_message"></p>
        </div>
        <div class="panel-body">
          <table class="table-inbox">
            <tr>
              <td class="cell-s">
                <a href="" ng-click="userPop(ride.driver)">
                  <img src="toolbox/asset/images/default.png" width="100" height="100"/>
                </a>
              </td>
              <td>
                <p>Proposé par : <b ng-bind="ride.driver.lastname"></b> <b ng-bind="ride.driver.firstname"></b></p>
                <p><b ng-bind="ride.departure.name"></b> <i class="fa fa-arrow-right fa-1x"></i> <b ng-bind="ride.arrival.name"></b></p>
                <p>Le : <b ng-bind="ride.departure_date | date:'dd MMMM yyyy'"></b> à <b ng-bind="ride.departure_time"></b></p>
                <p>Places Disponibles : <b ng-bind="ride.remain"></b></p>
              </td>
              <td>
                <a href="" class="btn btn-primary disabled" ng-show="ride.remain == 0 && !ride.notif">Complet</a>
              </td>
            </tr>
          </table>
      </div>
      <div class="panel-footer">
        <a href="" ng-click="ridePop(ride)">Détails <i class="fa fa-chevron-right"></i></a>
      </div>
    </div>

    </div>
  </div>

  <div class="home">
    <div class="well bloc bloc-x-alt" ng-init="driver = true">
      <h4>MES TRAJETS PASSÉS</h4>
      <ul class="nav nav-tabs">
        <li ng-class="(driver == true) ? 'active' : ''"><a href="" ng-click="driver = true">Conducteur</a></li>
        <li ng-class="(driver == false) ? 'active' : ''"><a href="" ng-click="driver = false">Passager</a></li>
      </ul>
      <br/>
      <!-- As Driver -->
      <div ng-show="driver">
      <p ng-show="d_passed == 0">Vous n'avez proposé aucun trajet précédemment.</p>

      <div class="panel panel-success content" ng-repeat="ride in d_passed" ng-hide="d_passed == 0">
        <div class="panel-heading">
          <p>
            <b ng-bind="(ride.departure_city != null) ? ride.departure_city : ride.departure.name"></b>
            <i class="fa fa-arrow-right fa-1x"></i>
            <b ng-bind="(ride.arrival_city != null) ? ride.arrival_city : ride.arrival.name"></b>
          </p>
        </div>
        <div class="panel-body">
          <table class="table-inbox">
            <tr>
              <td class="cell-s">
                <i class="fa fa-users fa-2x text-primary"></i>
                <p ng-bind="ride.passengers.length"></p>
              </td>
              <td>
                <p>Le <b ng-bind="ride.departure_date | date:'dd MMMM yyyy'"></b> à <b ng-bind="ride.departure_time"></b></p>
                <p>Il restait <b ng-bind="ride.remain"></b> places disponibles.</p>
              </td>
              <td>
                <i class="fa fa-flag-checkered fa-3x text-success"></i>
              </td>
            </tr>
          </table>
        </div>
        <div class="panel-footer">
          <a href="" ng-click="ridePop(ride)">Détails <i class="fa fa-chevron-right"></i></a>
        </div>
      </div>
      </div>

      <!-- As Passenger -->
      <div ng-hide="driver">
        <p ng-show="p_passed == 0">Vous n'avez participé à aucun trajet précédemment.</p>
        <div class="panel panel-primary content" ng-repeat="ride in p_passed" ng-hide="p_passed == 0">
          <div class="panel-heading">
            <p ng-bind="ride.ad_message"></p>
          </div>
          <div class="panel-body">
            <table class="table-inbox">
              <tr>
                <td class="cell-s">
                  <a href="" ng-click="userPop(ride.driver)">
                    <img src="toolbox/asset/images/default.png" width="100" height="100"/>
                  </a>
                </td>
                <td>
                  <p>Proposé par : <b ng-bind="ride.driver.lastname"></b> <b ng-bind="ride.driver.firstname"></b></p>
                  <p><b ng-bind="ride.departure.name"></b> <i class="fa fa-arrow-right fa-1x"></i> <b ng-bind="ride.arrival.name"></b></p>
                  <p>Le : <b ng-bind="ride.departure_date | date:'dd MMMM yyyy'"></b> à <b ng-bind="ride.departure_time"></b></p>
                  <p></p>
                </td>
                <td>
                  <p ng-hide="ride.passengers.marked">
                    <i class="fa fa-thumbs-up fa-3x" ng-click="mark(ride,1)"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-thumbs-down fa-3x" ng-click="mark(ride,2)"></i>
                  </p>
                  <a ng-show="ride.passengers.marked" class="btn btn-success disabled">
                    Noté !
                  </a>
                </td>
              </tr>
            </table>
        </div>
        <div class="panel-footer">
          <a href="" ng-click="ridePop(ride)">Détails <i class="fa fa-chevron-right"></i></a>
        </div>
      </div>

      </div>
    </div>
  </div>

  <div class="home">
    <div class="well bloc bloc-l" ng-init="received = true">
      <h4>MES DEMANDES</h4>
      <ul class="nav nav-tabs">
        <li ng-class="(received == true) ? 'active' : ''">
          <a href="" ng-click="received = true">Reçue(s)</a>
        </li>
        <li ng-class="(received == false) ? 'active' : ''">
          <a href="" ng-click="received = false">Envoyée(s)</a>
        </li>
      </ul>
      <br/>
        <!-- received requests -->
        <div ng-show="received">
          <p ng-show="d_comming == 0">Vous n'avez proposé aucun trajet dans les jours à venir.</p>
          <table class="table table-striped" ng-hide="d_comming == 0">
            <thead>
              <tr>
                <th>Trajet</th>
                <th>Date</th>
                <th>Passager</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody ng-repeat="ride in d_comming">
              <tr ng-repeat="request in ride.requests">
                <td ng-click="ridePopSpecial(request)">
                  <p> {{ (ride.departure_city == null) ? ride.departure.name : ride.departure_city }}
                  <i class="fa fa-arrow-right fa-1x"></i>
                  {{ (ride.arrival_city  == null) ? ride.arrival.name : ride.arrival_city }}</p>
                </td>
                <td ng-bind="ride.departure_date | date:'dd MMMM yyyy'"></td>
                <td ng-bind="request.lastname+' '+request.firstname" ng-click="userPop(request)"></td>
                <td>
                  <i class="fa fa-check text-success fa-2x" ng-click="acceptRequest(request,ride)"></i>
                  <i class="fa fa-times text-danger fa-2x" ng-click="refuseRequest(request,ride)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- sended resquests -->
        <div ng-hide="received">
          <p ng-show="s_requests == 0">Vous n'avez envoyé aucune demande à ce jour !</p>
          <table class="table table-striped" ng-hide="s_requests == 0">
            <thead>
              <tr>
                <th>Trajet</th>
                <th>Date</th>
                <th>Conducteur</th>
                <th>Statut</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="request in s_requests">
                <td ng-click="ridePop(request)">
                  <p> {{ (request.departure_city == null) ? request.departure.name : request.departure_city }}
                  <i class="fa fa-arrow-right fa-1x"></i>
                  {{ (request.arrival_city == null) ? request.arrival.name : request.arrival_city }}</p>
                </td>
                <td ng-bind="request.departure_date | date:'dd MMMM yyyy'"></td>
                <td ng-click="userPop(request.driver)">{{ request.driver.lastname | uppercase }} {{ request.driver.firstname }}</td>
                <td>
                  <i ng-show="request.requests.acceptedDate != null" class="fa fa-check-circle text-success fa-2x"></i>
                  <i ng-show="request.requests.refusedDate != null" class="fa fa-times-circle text-danger fa-2x"></i>
                  <i ng-show="request.requests.acceptedDate == null && request.requests.refusedDate == null" class="fa fa-exclamation-circle text-warning fa-2x"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>

    <div class="well bloc bloc-s">
      <h4>À PROPOS</h4>
        <img src="toolbox/resources/logo.png" width="100"/>
      <br/>
      <p>
        Partage ta Caisse !<br/>
        Application de Covoiturage Professionnel
      </p>
      <br/>
      <br/>
      <p cass="text-default">
        Unicorn Soft - 2017
        Version 2.0
      <p>
    </div>
  </div>

  </div>
</section>
