<title>PTC | Connexion</title>

<section>

  <div class="login-title">

  </div>

  <div class="jumbotron login-form">
    <div class="login-title">
      <img src="toolbox/resources/logo.png" width="150"/>
      <h2>Identification</h2>
      <p class="text-danger" ng-show="error.uncorrect">{{error.message}}</p>
    </div>
    <div id="mail" class="form-group">
      <input type="text" class="form-control" placeholder="Identifiant" ng-model="log.mail">
    </div>
    <div id="pw" class="form-group">
      <input type="password" class="form-control" placeholder="Mot de Passe" ng-model="log.pw">
    </div>
    <div class="login-action">
      <a class="btn btn-danger" ng-click="reset()">Effacer</a>
      <a class="btn btn-primary" ng-click="login(log)">Valider</a>
    </div>
    </div>

    <div class="info">

      <p class="text-muted">Partage Ta Caisse - Unicorn Soft - 2017</p>
      <p class="text-muted">Tous droits réservés</p>
    </div>

</section>
