<title>PTC | {{ user.lastname | uppercase }} {{ user.firstname }}</title>

<div user-report></div>

<section>
  <div my-nav></div>

  <div class="main-wrapper">

  <!-- Basic Information -->
  <div class="home">


    <div class="well bloc bloc-l">
      <h4>{{ user.lastname | uppercase }} {{ user.firstname }}</h4>
      <table class="table">
        <tr>
          <td>
            <p>Anniversaire : {{ user.birthdate | date:'yyyy-MM-dd'}} ({{ user.birthdate | age:'user.birthdate' }} ans)</p>
          </td>
          <td>
            <p>Bureau : {{ user.site.name }}</p>
          </td>
        </tr>
          <td>
            <p>Mail : {{ user.mailAdress }}</p>
          </td>
          <td>
            <p ng-init="phone = (user.phoneNumber == null) ? 'Non renseigné' : user.phoneNumber">Téléphone : {{ phone }}</p>
          </td>
        </tr>
      </table>

      <blockquote>
        <em ng-bind="(user.description == null) ? 'Pas de description' : user.description"></em>
      </blockquote>

      <a href="" class="btn btn-success">Contacter</a>
      <a href="" class="btn btn-danger">Signaler</a>
    </div>

    <div class="well bloc bloc-s">
      <h4>VEHICULE</h4>
    </div>
  </div>

  <!-- Comming Rides -->
  <div class="home">
    <div class="well bloc bloc-x">
      <h4>SES TRAJETS À VENIR</h4>
    </div>
  </div>

  </div>
</section>
