<title>PTC | Nouveau Trajet</title>

<div notif></div>

<section>
  <div my-nav></div>

  <div class="main-wrapper">
    <div class="home">
      <div class="well bloc bloc-x">
        <h2>Proposer un Trajet</h2>
      </div>
    </div>

    <p class="text-danger" ng-show="error.show" ng-bind="error.message"></p>

  <div class="home">

  <div class="well bloc bloc-m">
  <h4>DÉPART</h4>
  <ul class="nav nav-tabs" ng-init="d_pro = true">
    <li ng-class="(d_pro == true) ? 'active' : ''"><a href="" ng-click="d_pro = true">Professionnel</a></li>
    <li ng-class="(d_pro == false) ? 'active' : ''"><a href="" ng-click="d_pro = false">Domestique</a></li>
  </ul>
  <br/>
      <div ng-show="d_pro">
        <div class="form-group">
          <select class="form-control" id="select" ng-model="proposal.d_site" ng-options="site.name for site in sites">
            <option value="">-- Sélectionnez un Site --</option>
          </select>
        </div>
      </div>
      <div ng-hide="d_pro">
        <div class="form-group">
          <input type="text" class="form-control"placeholder="Adresse" ng-model="proposal.d_address">
        </div>
        <div class="form-group">
          <input type="text" class="form-control"placeholder="Code Postal" ng-model="proposal.d_postal">
        </div>
        <div class="form-group">
          <input type="text" class="form-control"placeholder="Ville" ng-model="proposal.d_city">
        </div>
      </div>
        <div id="ddate" class="form-group">
          <input type="text" class="form-control" placeholder="Date JJ/MM/AAAA" ng-model="proposal.d_date" ng-change="validateDate(proposal.d_date,1)">
        </div>
        <div id="dhour" class="form-group">
          <input type="text" class="form-control" placeholder="Heure (HH:MM)" ng-model="proposal.d_hour">
        </div>
    </div>

  <div class="well bloc bloc-m">

    <h4>ARRIVÉE</h4>
    <ul class="nav nav-tabs" ng-init="a_pro = true">
      <li ng-class="(a_pro == true) ? 'active' : ''"><a href="" ng-click="a_pro = true">Professionnel</a></li>
      <li ng-class="(a_pro == false) ? 'active' : ''"><a href="" ng-click="a_pro = false">Domestique</a></li>
    </ul>
    <br/>
        <div ng-show="a_pro">
          <div class="form-group">
            <select class="form-control" id="select" ng-model="proposal.a_site" ng-options="site.name for site in sites">
              <option value="">-- Sélectionnez un Site --</option>
            </select>
          </div>
        </div>
        <div ng-hide="a_pro">
          <div class="form-group">
            <input type="text" class="form-control"placeholder="Adresse" ng-model="proposal.a_address">
          </div>
          <div class="form-group">
            <input type="text" class="form-control"placeholder="Code Postal" ng-model="proposal.a_postal">
          </div>
          <div class="form-group">
            <input type="text" class="form-control"placeholder="Ville" ng-model="proposal.a_city">
          </div>
        </div>
          <div id="adate" class="form-group">
            <input type="text" class="form-control" placeholder="Date JJ/MM/AAAA" ng-model="proposal.a_date" ng-change="validateDate(proposal.a_date,2)">
          </div>
          <div id="ahour" class="form-group">
            <input type="text" class="form-control" placeholder="Heure HH:MM" ng-model="proposal.a_hour">
          </div>
</div>
  </div>

  <div class="home">
    <div class="well bloc bloc-s">
      <h4>NOMBRE DE PLACES PROPOSEES</h4>
      <br/>
      <br/>
      <table class="table">
        <tr>
          <td>
            <a href="" class="btn btn-primary btn-lg" ng-click="seats = (seats == 0) ? 0 : seats - 1">&nbsp;&nbsp;-&nbsp;&nbsp;</a>
          </td>
          <td>
            <a class="btn btn-default btn-lg disabled" ng-bind="seats"></a>
          </td>
          <td>
            <a href="" class="btn btn-success btn-lg" ng-click="seats = (seats == max) ? max : seats + 1">&nbsp;&nbsp;+&nbsp;&nbsp;</a>
          </td>
        </tr>
      </table>
    </div>
    <div class="well bloc bloc-l">
      <h4>TITRE DU TRAJET</h4>
      <br/>
      <br/>
      <br/>
      <div class="form-group description">
        <input type="text" class="form-control" placeholder="Titre..." ng-model="proposal.title">
    </div>
  </div>

  <a href="" class="btn btn-danger" ng-click="clearProposal()">Effacer</a>
  <a href="" class="btn btn-success" ng-click="proposeRide(proposal,seats)">Proposer</a>
</div>

</section>
