<div class="panel panel-primary user-pop" ng-show="upop.show">

  <div class="panel-heading">
    <a class="close" aria-hidden="true" ng-click="closeUpop()">&times;</a>
    <h3 class="panel-title">CARTE D'IDENTITE</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <td rowspan="3">
          <img src="toolbox/asset/images/default.png" width="100"/>
        </td>
        <td>
          <h4 class="text-success">{{ upop.user.lastname | uppercase }} {{ upop.user.firstname }}</h4>
        </td>
        <td>
          <p>{{ upop.user.birthdate | date:'dd/MM/yyyy'}} ({{ upop.user.birthdate | age:'upop.user.birthdate'}} ans)</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>{{ upop.user.mailAdress }}</p>
        </td>
        <td>
          <p>{{ upop.user.phoneNumber }}</p>
        </td>
      </tr>
      <tr>
        <td>
          <i class="fa fa-thumbs-up fa-2x text-success" ng-bind="upop.user.positiveRating"></i>
          <i class="fa fa-thumbs-down fa-2x text-danger" ng-bind="upop.user.negativeRating"></i>
        </td>
        <td>
        </td>
      </tr>
    </table>
    <blockquote>
      <em ng-bind="(upop.user.description == null) ? 'Pas de description' : upop.user.description"></em>
    </blockquote>
    <h4 class="text-success"><i class="fa fa-map-marker"></i>Bureau</h4>
    <table class="table">
      <tr>
        <td ng-bind="upop.user.site.name"></td>
        <td></td>
      </tr>
      <tr>
        <td ng-bind="upop.user.site.adress"></td>
        <td ng-bind="upop.user.site.city +'('+upop.user.site.postalCode+')'"></td>
      </tr>
    </table>
  </div>
  <div class="panel-footer">
    <a href="" ng-click="profile(upop.user)">Profil <i class="fa fa-chevron-right"></i></a>
  </div>

</div>
