<div class="panel panel-primary user-pop" ng-show="user.show">

  <div class="panel-heading">
    <a class="close" aria-hidden="true" ng-click="close()">&times;</a>
    <h3 class="panel-title">CARTE D'IDENTITE</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <td rowspan="3">
          <img src="toolbox/asset/images/default.png" width="100"/>
        </td>
        <td>
          <p class="text-success">{{ user.lastname | uppercase }} {{ user.firstname }}</p>
        </td>
        <td>
          <p>{{ user.birthdate | date:'dd/MM/yyyy'}} ({{ user.birthdate | age:'user.birthdate'}} ans)</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>{{ user.mailAdress }}</p>
        </td>
        <td>
          <p>{{ user.phoneNumber }}</p>
        </td>
      </tr>
      <tr>
        <td>
          <i class="fa fa-thumbs-up fa-2x text-success" ng-bind="user.positiveRating"></i>
          <i class="fa fa-thumbs-down fa-2x text-danger" ng-bind="user.negativeRating"></i>
        </td>
        <td>
        </td>
      </tr>
    </table>
    <blockquote>
      <em ng-bind="(user.description == null) ? 'Pas de description' : user.description"></em>
    </blockquote>
    <h4>Bureau</h4>
    <p ng-bind="user.site.name"></p>
    <p ng-bind="user.site.adress"></p>
    <p ng-bind="user.site.city +'('+user.site.postalCode+')'"></p>
  </div>
  <div class="panel-footer">
    <a href="" ng-click="seeProfil(user.id)">Profil <i class="fa fa-chevron-right"></i></a>
  </div>

</div>
