<div class="panel panel-primary user-pop" ng-show="upop.show">

  <div class="panel-heading">
    <a class="close" aria-hidden="true" ng-click="closeUpop()">&times;</a>
    <h3 class="panel-title">CARTE D'IDENTITE</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <td rowspan="3">
          <img src="toolbox/asset/images/default.png" width="100"/>
        </td>
        <td colspan="2">
          <h4 class="text-success"><b ng-bind="upop.user.lastname | uppercase"></b> <b ng-bind="upop.user.firstname"></b></h4>
        </td>
      </tr>
      <tr>
        <td>
          <p><b ng-bind="upop.user.mailAdress"></b></p>
        </td>
        <td>
          <p><b ng-bind="(upop.user.phoneNumber == null) ? 'Pas de téléphone' : upop.user.phoneNumber"></b></p>
        </td>
      </tr>
      <tr>
        <td>
          <p><b ng-bind="upop.user.birthdate | date:'dd MMMM yyyy'"></b> (<b ng-bind="upop.user.birthdate | age:'upop.user.birthdate'"></b> ans)</p>
        </td>
        <td>
          <i class="fa fa-thumbs-up fa-2x text-success" ng-bind="upop.user.positiveRating"></i>&nbsp;&nbsp;&nbsp;
          <i class="fa fa-thumbs-down fa-2x text-danger" ng-bind="upop.user.negativeRating"></i>
        </td>
      </tr>
    </table>
    <blockquote>
      <em ng-bind="(upop.user.description == null) ? 'Pas de description' : upop.user.description"></em>
    </blockquote>
    <hr/>
    <h4 class="text-success"><i class="fa fa-map-marker"></i> Bureau</h4>
    <table class="table" ng-show="upop.user.Site != undefined">
      <tr>
        <td colspan="2"><b ng-bind="upop.user.Site.name"></b></td>
      </tr>
      <tr>
        <td ng-bind="upop.user.Site.adress"></td>
        <td ng-bind="upop.user.Site.city +'('+upop.user.Site.postalCode+')'"></td>
      </tr>
    </table>
    <table class="table" ng-show="upop.user.site != undefined">
      <tr>
        <td colspan="2"><b ng-bind="upop.user.site.name"></b></td>
      </tr>
      <tr>
        <td ng-bind="upop.user.site.adress"></td>
        <td ng-bind="upop.user.site.city +'('+upop.user.site.postalCode+')'"></td>
      </tr>
    </table>
  </div>
  <div class="panel-footer">
    <a href="" ng-click="profile(upop.user)">Profil <i class="fa fa-chevron-right"></i></a>
  </div>

</div>
