<section>
  <title>PTC | Utilisateurs</title>

  <div user-pop></div>
  <div my-nav></div>

  <div class="main-wrapper">

    <div class="well">
      <h2>Les Utilisateurs</h2>
    </div>
    <input class="form-control" placeholder="Rechercher..." type="text" ng-model="userFilter">
    <br/>
    <em class="text-success">Psst! Tapez tout ce que vous voulez, si un utilisateur correspond à votre saisie, il remontra tout seul!</em>
    <hr/>

    <div ng-hide="loaded" class="main-wrapper">
      <div class="loading">
        <i class="fa fa-circle-o-notch fa-5x fa-spin"></i>
      </div>
    </div>

    <div ng-show="loaded" class="panel panel-default content" ng-repeat="user in users | filter:userFilter">
      <div class="panel-body">
        <table class="table-inbox">
          <tr>
            <td class="cell-s">
              <a href="" ng-click="userPop(user)">
                <img src="toolbox/asset/images/default.png" width="100" height="100"/>
              </a>
            </td>
            <td class="cell-l">
              <p>Nom : {{ user.lastname | uppercase}} {{ user.firstname }}</p>
              <p>Age : {{ user.birthdate | age:'user.birthdate' }} ans</p>
              <p>Bureau : {{ user.site.name }}</p>
              <i class="fa fa-thumbs-up fa-2x text-info">{{ user.positiveRating }}</i>
              <i class="fa fa-thumbs-down fa-2x text-danger">{{ user.negativeRating }}</i>
            </td>
            <td>
              <a href="" class="btn btn-primary" ng-click="userProfile(user)">Voir le Profil <i class="fa fa-chevron-right fa-1x"></i></a>
            </td>
          </tr>
        </table>
    </div>

  </div>

  </div>

</section>
